.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    padding: 20px;

  }
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10vh;
  flex-wrap: wrap;
}
  
  .header-left {
    font-size: 24px;
    font-weight: bold;
    flex: 1 1 45%;
    margin: 10px;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    flex: 1 1 45%;
    margin: 10px;
  }
  
  .header-image {
    width: auto;
    width: 100%;
    height: auto;
  }

  .header-buttons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .header-button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    padding: 10px 20px;
  }
  
  .header-button:last-child {
    margin-right: 0;
  }
  
  .header-button:hover {
    background-color: #0056b3;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }
  .card-container > * {
    flex: 1 1 200px;
    max-width: 300px;
  }

  .innovative-container{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }

  .doctor{
    margin-top: 20vh;
  }
  .doctor-container{
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 15px;
    width: 100%;
  }
  .doctor-container > * {
    flex: 1 1 200px;
    max-width: 300px;
  }

  

.card-container, .doctor-container, .innovative-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card-container > div, .doctor-container > div, .innovative-container > div {
  flex: 1 1 45%;
  margin: 10px;
}

@media (max-width: 768px) {
  .header-left, .header-right, .card-container > div, .doctor-container > div, .innovative-container > div {
    flex: 1 1 100%;
  }

  .header-buttons {
    justify-content: center;
  }
}