.footer {
    margin-top: 10vh;
    margin-bottom: 8vh;
    background-color: transparent;
    padding: 20px;
    text-align: center;
  }
  
  .footer-icons {
    display: flex;
    height: 32px;
    width: 32px;

  }
  
  .footer-icons > * {
    margin: 0 10px;
  }
  